<ng-container *ngIf="true">
<div class="container"><div class="card-table">
    <div class="card-product">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Наименование</th>
                    <th>Изображение</th>
                    <th>Описание</th>
                    <th>Стоимость</th>
                    <th>Количество</th>
                    <th>Всего</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody>
                <td>1</td>
                <td>iPhone</td>
                <td>Some Image</td>
                <td>branded phone</td>
                <th>50.000</th>
                <td>1</td>
                <td>50.000</td>
                <td>
                    <button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
                </td>
            </tbody>
        </table>
    </div>
</div>
</div>
</ng-container>


<ng-container *ngIf="false">
    <div class="container">
        <div class="card">
            <h5 class="card-title">Корзина</h5>
        </div>
        <div class="center">
            <img src="https://img.freepik.com/free-vector/large-sale-word-with-shopping-cart-gift-boxes-store-map-with-pointer-realistic-style-vector-illustration_548887-126.jpg?w=1060&t=st=1662311462~exp=1662312062~hmac=0045c31b292f14c294e2fddd2c13c3994424a9aa7a1806256a1217248d568100" alt="">|
            <h4>Корзина пуста</h4>
            <h6>Добавить товары</h6>
            <button class="btn btn-primary">К покупкам</button>
        </div>
    </div>
</ng-container>