<header>
    <div class="navbar bg-primary shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
    <i style="font-size: 40p;" class="fa-solid fa-shop" aria-hidden="true">&nbsp;
    
</i>
    <strong style="font-size: 15px">Magaz</strong>
    <div class = "form-group">
        <input type="text" class="form-control" placeholder="Поиск товаров">
</div>
        <span class="fas fa-search search-icon"></span>
</div>
        <button class="btn btn-primary">
            <i style="font-size: 30px;" class="fa-solid fa-basket-shopping"></i>
            <div style="font-size: 10px;" class="badge bg-danger">5</div>
        </button>
</div>
</header>
